.trends-name {
  color: black;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;

  padding-top: 3vh;
  
}

.trends-name h2 {
font-size: 1vw;
}

.trends-name:after {
  content: '';
  display: block;
  height: 2px;
  background: #e1d9bd;
  width: 4.5vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: -0.2vw;
  margin-bottom: 2vw;
  
  
}

.cards {
display: flex;
}

.card-item {
width: 25%;
display: flex;
position: relative;
}

@media (min-width: 361px) and (max-width: 770px) {
  .trends-name>h2 {
    font-size: 2.3vw;
  }
  
  .cards {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card-item {
    margin-bottom: 3px;
  }

  .card-item {
    width: 49.8%;
  }

  .card1,.card2,.card3,.card4 {
    width: 100%;
    height: 32vw;
  }

  article>.post_list_text>.frame>.menu2>ul>li>a {
    font-size: 1.8vw;
    color: #b59f5b;
  }

  .card__previewbox>h3>a {
    font-size: 2.25vw;
  }

  .card-item:nth-child(even) {
   margin-left: 1px;
  }
  
}

@media (min-width: 771px) {
  .card-item:not(:first-child) {
  margin-left: 0.5vw;
  }
}

.card1,.card2,.card3,.card4 {
  min-height: 19.3vw;
  background-repeat: no-repeat;
  background-size: cover;
  
  display: flex;
  flex-direction: column;
  } 

.card1::after,
.card2::after,
.card3::after,
.card4::after {
  content: "";
  width: 100%;
  height: 100%;
  
  background-color: black;
  opacity: 0.6;
  position: absolute;
  left:0;
  bottom:0;

}

.card1 {
  background-image: url("../images/trend1.jpg");
}

.card2 {
  background-image: url("../images/trend2.jpg");
}

.card3 {
  background-image: url("../images/trend3.jpg");
}

.card4 {
  background-image: url("../images/trend4.jpg");
}

.card__previewbox {
border: 2px solid #b59f5b;
margin-left: 1vw;
margin-right: 1vw;
margin-top: auto;
margin-bottom: 1vw;

z-index: 3;
}



.card__previewbox ul {
padding-top: 1vh;
padding-left: 1vw;
margin-bottom: 0;
} 

.card__previewbox li {

display: inline;
list-style: none;
font-weight: bold;
text-transform: uppercase;
padding-right: 1vw;
color: #b59f5b;
font-size: 0.85vw;
}

.card__previewbox li:hover {
text-decoration: underline;
cursor: pointer;
}

.title_post__name a{
color: white;
font-size: 1.2vw;
text-transform: uppercase;
width: 80%;
margin-top: 0;
margin-left: 1vw;

display: block;
}

.title_post__name:hover a{
  color: #b59f5b;
  cursor: pointer;
}

.title_post__name {
  margin-top: 0;
}


@media (max-width: 360px) {
  .trends-name h2 {
    font-size: 16px;
  }

  .cards {
    display: block;
  }

  .card-item {
    width: 100%;
  }

  .card-item:not(:first-child) {
    margin-top: 3px;
    }

  .card1, .card2, .card3, .card4 {
    width: 100%;
    height: 65vw;
  }

  .card__previewbox {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 6vw;
  }

  .card__previewbox>ul>li {
    font-size: 14px;
    margin-left: 3.5vw;
  }

  .title_post__name {
    width: 80vw;
  }
  
  .card__previewbox>h3>a {
    font-size: 16px;
    margin-top: 2vw;
    margin-left: 4vw;
  }

}