@font-face {
    font-family: "Open sans";
    src: local ("Open sans"), url("../fonts/OpenSans-Regular.woff2");
    src: url("../fonts/OpenSans-Regular.ttf");
    src: url("../fonts/OpenSans-Regular.woff");
    font-display: swap;
  }

@font-face {
    font-family: "Open sans";
    src: local ("Open sans"), url("../fonts/OpenSans-Bold.woff2");
    src: url("../fonts/OpenSans-Bold.ttf");
    src: url("../fonts/OpenSans-Bold.woff");
    font-weight: bold;
    font-display: swap;
  }

body {
    max-width: 1660px;
    font-family: "Open sans", sans-serif;
    color: white;
}

.header {
    width: 100%;
    height: 40vh;

    background-image: url("../images/banner-bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    position:relative;
    z-index: 0;

}

.header:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #666666;
    opacity: 0.6;
    
    z-index: -1;
}

.top-panel {
    
    height: 15%;
    padding-top: 1%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo {
    
    width: 10%;
    margin-left: 10%;
}

.menu {
    padding-right: 20%;
    
}

.menu>ul {
    display: flex;

    list-style: none;
    align-items: center;
    font-size: 0.8em;

 
}

.menu>ul>li {
    padding-left: 10%;
}

.menu>ul>li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.intro {

    
    height: 80%;

    display: flex;
    text-align: center;
    text-transform: uppercase;
    align-items: center;

    font-size: 2.5em;
    font-weight: bold;
    
    padding-left: 15%;
    padding-right: 15%;
    margin-top: -2%;

       
}

main {
    border: 3px solid black;
    width: 100%;
}

.trends {
    width: 100%;

}

.trends-name {
    color: black;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    
}

.trends-name:after {
    content: '';
    display: block;
    height: 2px; /* Высота линии */
    background: #e1d9bd; /* Цвет линии #e1d9bd */
    width: 66px; /* Ширина линии до наведения */
    margin-left: auto;
    margin-right: auto;
    margin-top: -0.5em;
    margin-bottom: 1em;
    
    
}

.cards {
    width: 100%;
    display: flex;
    
}

.card-item {
    width: 20%;
    /* padding-left: 1px;
    padding-right: 1px;; */
    
}
.articles {
    border: 3px solid black;
    width: 100%;
    height: 30px;
}

.shop {
    border: 3px solid black;
    width: 100%;
    height: 30px;
}

footer {

    width: 100%;
    text-align: center;
    position: absolute;
    
}

.social {
    display: flex;
    justify-content: center;
    padding-top: 1em;
}

.dribbble, .pinterest, .tumblr {
    
    width: 1.5em;
    height: 1.5em;
    position: relative;
    text-align: center;
}

.copiright {
    font-size: 1.2em;
    color: #999999;
    margin-top: 4em;
    
}