.articles {
  width: 70.5vw;
  margin-top: 3vw;
  margin-left: auto;
  margin-right: auto;
  padding-left: 3px;
  padding-right: 3px;

  display: grid;
  grid-template-columns: 7fr 3fr;

}

.post__list {
  width: 47vw;
  margin-top: 0;
}

@media (min-width: 771px){
  .post__list>.some_post>.post_list_img img{
    height: 17.8vw;
  }
}
  

.some_post {
  display: flex;
  margin-top: 0vw;
  margin-bottom: 2vw;
}


.post_list_img {
  margin-right: 0.5vw;
}

.art {
  width: 20vw;
}

@media(min-width: 771px) {
  .post_list_text {
    margin-left: 1vw;
    width: 22vw;
  }
}

.post__list>.some_post {
  width: 45vw;
  color: #b59f5b;
  position: relative;
}

.frame {
  align-items: end;
}

.menu2>ul {
  list-style: none;
  display: inline;
  padding-left: 0;
  
}

.menu2>ul>li {
  display: inline;
  font-weight: bold;
  margin-right: 1em;
  text-transform: uppercase;
  font-size: 0.85vw;
  
}

.menu2>ul>li:hover {
  text-decoration: underline;
  cursor: pointer;
 }

 .frame>p {
  display: inline;
  

 }
 .date {
  color: grey;
  margin-right: 1em;
  font-size: 0.7vw;
 }

.author {
  color: black;
  font-weight: bold;
  font-size: 0.7vw;
}

.trends-name h3 {
  
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.85vw;
  
}

.frame h3 {
  color: black;
  font-weight: bold;
  font-size: 1vw;
  text-transform: uppercase;
}

.text {
  color: black;
  padding-bottom: 0;
  display: flex;
  align-items: end;
  font-size: 0.9vw;
  
}

@media (min-width: 361px) and (max-width: 770px) {
  .articles{
    width: 90vw;
  }

  .articles>.post__list {
    width: 51vw;

    .some_post {
      display: inline-block;

    }
  }

  .post__list>.some_post>.post_list_img img {
    width: 51vw;
    height: 39.5vw;
    
  }

  .post_list_text {
    margin-left: 0;
    width: 51vw;
  }

  .menu2>ul>li {
    font-size: 1.8vw;
  }

  h3>a {
    font-size: 2.2vw;
  }

  .date,.author {
    font-size: 1.5vw;
  }

  .text {
    font-size: 1.7vw;
  }
}

@media (max-width: 360px) {
  .articles {
    grid-template-columns:none;
    width: 91.5vw;
    text-align: center;
  }

  .post__list {
    width: 100%;
  }

  .post__list>.some_post {
    flex-direction: column;
    width: 100%;
  }

  .post_list_img>img {
    width: 100%;
  }

  .post_list_text {
    width: 100%;
    text-align: left;
  }

  .post_list_text>.frame>.menu2>ul>li {
    font-size: 4vw;
  }

  .post_list_text>.frame>h3 {
    font-size: 4.5vw;
  }

  .post_list_text>.frame>.date {
    font-size: 3.5vw;
  }

  .post_list_text>.frame>p {
    font-size: 3.5vw;
  }

  .post_list_text>.text {
    font-size: 4vw;
  }
}