.side__bar {
  width: 16.5vw;
}

.side__bar h3 {
  color: black;
  font-size: 0.85vw;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  display: block;
  margin-top: 0;

  
}

.sb-np::after {
  content: '';
  display: block;
  height: 2px;
  background: #e1d9bd;
  width: 3.5vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.9vw;
    
}

.some_post h4{
  text-align: left;
  margin-top: 0;
  text-transform: uppercase;
  font-size: 0.85vw;

}

.some_post a{
  color: black;
}

.side__bar>.new__posts>.some_post>.post_list_img {
  display: flex;
}

.side__bar>.new__posts>.some_post>.post_list_img>.art {
  width: 4.2vw;
  height: 4.2vw;
}

.side__bar>.new__posts>.some_post>.post_list_text {
  margin-top: -0.5vw;
  margin-left: 0.5vw;
  width: 13vw;
}

.search__field {
    box-sizing: border-box;
    margin-top: 1vw;
}

.search-form {
    position: relative;
    width: 100%;
    
}

input, .button-search {
    border: none;
    outline: none;
}

input {
    width: calc(100% - 1.1em);
    height: 2.98vw;
    background: #f4f7f6;
    padding-left: 1em;
    font-size: 0.7vw;
    
}

.button-search {
    position: absolute;
    height: 3.05vw;
    width: 3.7vw;
    background-color: #b59f5b;
    background-image: url("../svg/search.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1.2vw;
    top:0;
    right: 0;
  }

  .button-search:hover {
    background-color: #323232;
  }

  .block {
    font-size: 0.85vw;
  }

@media (min-width: 641px) and (max-width: 1200px) {
  .side__bar {
    width: 270px;
    margin-left: 35px;
  }
  
  .side__bar h3 {
    font-size: 1.85vw;
  }

  .side__bar a {
    font-size: 1.6vw;
  }

  .sb-np::after {
    width: 8vw;
  }

  .post_list_img {
    width: 8vw;
    
  }

  .side__bar>.new__posts>.some_post>.post_list_img>.art {
    width: 8vw;
    height: 8vw;
  }

  .side__bar>.new__posts>.some_post>.post_list_text {
    width: 25vw;
  }

  input {
    font-size: 1.7vw;
    height: 5.5vw;
  }

  .button-search {
    width: 5.5vw;
    height: 5.5vw;
    background-size: 2vw;
  }
}


@media (max-width: 640px) {
  .side__bar {
    width: 91vw;
    margin-left: auto;
    margin-right: auto;
  }

  .new__posts>h3 {
    font-size: 4.5vw;
  }

  .sb-np::after {
    width: 20vw;
  }

  .side__bar>.new__posts>.some_post>.post_list_img>.art {
    width: 20vw;
    height: 20vw;
  }

  .some_post h4 {
    font-size: 4vw;
    width: 70vw;
    margin-top: 1vw;
  }

  .side__bar>.new__posts>.some_post>.post_list_text {
    width: 70vw;
    margin-top: -2vw;
  }

  .date {
    font-size: 3.5vw;
  }

  .search__field {
    margin-top: 13vw;
  }
  
  input {
    width: 85vw;
    height: 13vw;
    font-size: 4vw;
    
  }

  .button-search {
    width: 13vw;
    height: 13vw;
    background-size: 5vw;
  }

  .mailing h3{
    font-size: 4.5vw;
  }

  .trends-name::after{
    width: 20vw;
  }

  .block {
    width: 90vw;
    font-size: 3.5vw;
    margin-top: 2vw;
  }

  .tags h3{
    font-size: 4.5vw;
  }

  

  .tems h3{
    font-size: 4.5vw;
  }
}