footer {
    text-align: center;
    margin-top: 4vw;
}

.social {
    width: 70.5vw;
    margin-left: auto;
    margin-right: auto;
    height: 4.9vw;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #f4f7f6;
}

footer>.social img {
    
    width: 1.2vw;
    height: 1.2vw;
    justify-content: center;
    padding-right: 0.9vw;
    padding-left: 0.9vw;
    margin-top: auto;
    margin-bottom: auto;
}

.social ul {
    padding: 0;
}

.social ul li {
    display: inline;
}

.copiright p {
    font-size: 0.72vw;
    color: #999999;
    margin-top: 4em;
    text-align: center;    
}

@media (min-width: 641px) and (max-width: 1200px) {
    .social {
        width: 91vw;
        height: 10vw;
        margin-top: 7vw;
    }

    footer>.social img {
        width: 2vw;
        height: 2vw;
       
    }

    .copiright p {
        font-size: 1.6vw;
    }
}

@media (max-width: 640px) {
    footer {
        margin-top: 12vw;
    }

    .social {
        width: 90vw;
        height: 15vw;
    }

    footer>.social img {
        width: 5.5vw;
        height: 5.5vw;
    }

    .copiright p {
        font-size: 3.5vw;
    }
}