@font-face {
    font-family: "Open sans";
    src: local ("Open sans"), url("../fonts/OpenSans-Regular.woff2");
    src: url("../fonts/OpenSans-Regular.ttf");
    src: url("../fonts/OpenSans-Regular.woff");
    font-display: swap;
  }

@font-face {
    font-family: "Open sans";
    src: local ("Open sans"), url("../fonts/OpenSans-Bold.woff2");
    src: url("../fonts/OpenSans-Bold.ttf");
    src: url("../fonts/OpenSans-Bold.woff");
    font-weight: bold;
    font-display: swap;
  }

body {
    font-family: "Open sans", sans-serif;
    color: white;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
}

.header {
    height: 27vw;

    background-image: url("../images/banner-bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    position:relative;
    z-index: 0;

}

.header:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.6;
    
    z-index: -1;
}

.top-panel {
    width: 70.3vw;
    height: 15%;
    padding-top: 1%;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.top-panel a {
    color: white;
}

.logo {
    width: 10%;
}

@media (min-width: 361px) and (max-width: 1200px) {

    .header {
        height: 50vw;
        background-image: url("../images/banner-bg-tablet.jpg");
    }
    
    header>h1 {
        width: 77vw;
        font-size: 5vw;
        line-height: 8vw;
    }

    .top-panel{
        width: auto;
        margin-left: 4.4vw;
        margin-right: 4.4vw;
        padding-top: 4.4vw;
    }

    .logo {
        min-width: 20.4vw;
    }

    .menu {
        margin-top: -1vw;
    }
    
    .menu__item {
        display: none;
    }
    
    .menu__button {
        width: 2.9vw;
        height: 2.4vw;  
        border: none;
      
        background-color: transparent;
        position: relative;
        text-indent: -9999px;
      }
      
      .menu__button:before, .menu__button:after {
        content:"";
        width: 100%;
        height: 0.4vw;
      
        background-color: #ffffff;  
        position: absolute;
        left: 0;
      }
      
      .menu__button:before {
        top: 0;
      }
      
      .menu__button:after {
        bottom: 0;
      }
      
      .menu__button-label {
        width: 100%;
        height: 0.4vw;
      
        background-color: #ffffff;  
      
        position: absolute;
        left: 0;
        top: 45%;
      }
}


@media (min-width: 1201px) {
    .menu__button {
        display: none;
    }

    .menu {
        width: 27.97vw;

        font-size: 0.80vw;
        text-transform: uppercase;

        display: flex;
        justify-content: space-between;
    }
}

.menu__item:hover {
    text-decoration: underline;
    cursor: pointer;
}

h1 {

    width: 43vw;
    text-align: center;
    text-transform: uppercase;
    align-items: center;
    font-weight: bold;
    
    position: absolute;
    left: 50%;
    top: 50%;
    
    transform: translate(-50%,-50%);
    margin: 0;
    padding: 0;
    font-size: 2.7vw;
    line-height: 4.5vw;   
}

@media (max-width: 640px) {
    .header {
        max-width: 640px;
        height: 178vw;
        background-image: url("../images/banner-mobile.jpg");

        position: relative;
    }
   
    .logo {
        width: 77vw;
        position: absolute;
        left:11vw;
        top: 60vw;
    }

    header>h1 {
        width: 80vw;
        font-size: 7.3vw;
        line-height: 10vw;
        margin-top: 15vw;
    }
    .menu {
        margin-left: 75vw;
    }
    
    .menu__item {
        display: none;
    }
    
    .menu__button {
        width: 7vw;
        height: 7vw;  
        border: none;
      
        background-color: transparent;
        position: relative;
        text-indent: -9999px;
      }
      
      .menu__button:before, .menu__button:after {
        content:"";
        width: 100%;
        height: 1vw;
      
        background-color: #ffffff;  
        position: absolute;
        left: 0;
      }
      
      .menu__button:before {
        top: 0;
      }
      
      .menu__button:after {
        bottom: 0;
      }
      
      .menu__button-label {
        width: 100%;
        height: 1vw;
      
        background-color: #ffffff;  
      
        position: absolute;
        left: 0;
        top: 45%;
      }
}