.product__cards {

  width: 1200px;
  margin-left: auto;
  margin-right: auto;

  color:black;
  display: flex;
  justify-content: space-between;
}

.product {
  position: relative;

  width: 30%;
  margin-bottom: 15%;
  margin-left: 1em;
  margin-right: 1em;

}

.product-content {
  border: 3px solid #b59f5b;
  position: absolute;

  width: 88%;
  padding-top: 10%;
  padding-left: 1vw;
  padding-right: -1vw;
  padding-bottom: 6vh;
  top: 80%;
  left: -1vw;
}

.description {
  width: 80%;
}

.description:hover {
  font-weight: bold;
}

a {
  color: #b59f5b;
  text-decoration: none;
}

.hear:hover {
  text-decoration: underline;
}

.product-footer {
  display: flex;
  justify-content: space-between;

}

.product-price {
  height: 1.5em;
  display: flex;
  font-weight: bold;
}

.product-old-price {
  text-decoration: line-through;
}

.product-button {
  height: 2 em;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  background-color: #b59f5b;
  border: none;
  padding-right: 1em;
  padding-left: 1em;
  margin-right: 4em;
}