.shop {
  width: 70.3vw;
  margin-left: auto;
  margin-right: auto;
}

.shop h3 {
  font-size: 1.2vw;
}

.product__cards {
  color:black;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;  
}

.product {
  width: 30%;
  position: relative;
  box-sizing: border-box;
  
}

.product-header1 {
  width: 17.85vw;
  height: 12.1vw;
  margin-bottom: -2vw;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../images/shop-item-desk1.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

.product-header2 {
  width: 17.85vw;
  height: 12.1vw;
  margin-bottom: -2vw;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../images/shop-item-desk2.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

.product-header3 {
  width: 17.85vw;
  height: 12.1vw;
  margin-bottom: -2vw;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../images/shop-item-desk3.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

.product-img {
  width: 17.85vw;
  z-index: 0;
}

.product-content {
  height: calc(100% - 12vw);
  border: 3px solid #b59f5b;
  padding-top: 2vw;
  padding-left: 1vw;
    
}

.product-name {
  text-transform: uppercase;
  margin-bottom: 0;
}

.description {
  width: 95%;
  font-size: 0.9vw;
  margin-top: 0.5vw;
  
  /* position: relative; */
  
}

.description:hover {
  font-weight: bold;
}

.shop__links {
  width: 95%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1vw;
}

a {
  color: #b59f5b;
  text-decoration: none;
}

.hear:hover {
  text-decoration: underline;
}

.product-prices {
  display: inline-block;
}

.product-price {
  height: 1.5em;
  display: flex;
  font-weight: bold;
  font-size: 1.2vw;
}

.product-old-price {
  text-decoration: line-through;
  font-size: 0.85vw;
}

.product-button {
  height: 2vw;
  font-weight: bold;
  font-size: 0.85vw;
  color: white;
  text-transform: uppercase;
  background-color: #b59f5b;
  border: none;
  padding: 1vw 2vw 2vw 2vw;
  margin-right: 2vw;
  margin-top: 1vw;
  float: right;
  
}

.product-button:hover {
  background-color: #323232;
  cursor: pointer;
}

.product-button a {
  color: white;
}

@media (min-width: 641px) and (max-width: 1200px) {
  .shop {
    width: 90.5vw;
  }

  .product__cards {
    flex-wrap: wrap;
  }

  .product {
    width: 49%;
  }

  .product-header1 {
    width: 38vw;
    height: 30vw;

    margin-bottom: -5vw;
    background-image: url("../images/shop-item-tablet1.jpg");
  }

  .product-header2 {
    width: 38vw;
    height: 30vw;

    margin-bottom: -5vw;
    background-image: url("../images/shop-item-tablet2.jpg");
  }

  .product-header3 {
    width: 38vw;
    height: 30vw;

    margin-bottom: -5vw;
    background-image: url("../images/shop-item-tablet3.jpg");
  }

  .shop h3 {
    font-size: 2.2vw;
  }

  .description {
    font-size: 2vw;
  }

  .product-price {
    font-size: 2.55vw;
  }

  .product-old-price {
    font-size: 1.8vw;
  }

  .product-button {
    font-size: 1.8vw;
    padding: 2vw 3vw 4vw 3vw;
  }

  .product-content {
    height: calc(100% - 25vw);
  }

  .product:last-child {
    margin-top: 7vw;
  }
}

@media (max-width: 640px) {
  .shop {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
  }
    
  .shop h2 {
    font-size: 5.5vw;
  }

  .shop h3 {
    font-size: 4.8vw;
  }

  .product__cards {
    width: 90vw;

    flex-wrap: wrap;

  }

  .product {
    width: 100%;
    margin-top: 5vw;
  }

  .product-header1 {
    width: 78vw;
    height: 78vw;
    background-image: url("../images/shop-item-mobile1.jpg");
  }

  .product-header2 {
    width: 78vw;
    height: 78vw;
    background-image: url("../images/shop-item-mobile2.jpg");
  }

  .product-header3 {
    width: 78vw;
    height: 78vw;

    background-image: url("../images/shop-item-mobile3.jpg");

  }

  .product-name {
    font-size: 5vw;
  }
  .description {
    font-size: 4.2vw;
  }

  .product-price {
    font-size: 7vw;
  }

  .product-old-price {
    font-size: 4vw;
  }

  .product-button {
    height: 13vw;
    font-size: 4vw;
    padding: 4vw 6vw 4vw 6vw;
  }

  .product-content {
    height: auto;
    padding-top: 9vw;
    padding-bottom: 10vw;
    margin-top: -9vw;
  }

}