.catigories {
    padding-left: 0;
    list-style-type: none;
}

.some-catigorie {
    padding-left: 1vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    border-bottom: 2px solid #eeeeee;
}

.some-catigorie a {
    color: black;
    font-weight: bold;
    font-size: 0.85vw;
    
}

.int {
    color: #c4b27c;
}

.some-catigorie a:hover {
    color: #c4b27c;
}

@media (min-width: 641px) and (max-width: 1200px) {
    .some-catigorie {
        padding-top: 2vw;
        padding-bottom: 2vw;
    }
    
    .some-catigorie a{
        font-size: 1.8vw;
    }
}

@media (max-width: 640px) {
    .some-catigorie a {
        font-size: 4vw;
    }

    .some-catigorie {
        text-align: left;
        padding-top: 3vw;
        padding-bottom: 3vw;
    }
}