.side__bar>.new__posts>.some_post {
    font-size: 0.7em;
}

.search__field {
    box-sizing: border-box;
    margin-top: 1em;
}

.search-form {
    position: relative;

    width: 100%;
    margin: 0 auto;
}

input, .button-search {
    border: none;
    outline: none;
}

input {
    width: 90%;
    height: 3em;
    background: #f4f7f6;
    padding-left: 1em;
    
}

.button-search {
    position: absolute;
    height: 3em;
    width: 3em;
    background-color: #b59f5b;
    background-image: url("../svg/search.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 2em;
    top:0;
    right: 0;
  }

  .button-search:hover {
    background-color: #323232;
  }