footer {
    text-align: center;
       
}

.social {

    height: 6vw;
    display: flex;
    justify-content: center;

    background-color: #f4f7f6;
}

.dribbble, .pinterest, .tumblr {
    
    width: 2vw;
    height: 2vw;
    position: relative;
    justify-content: center;
    padding-right: 0.9vw;
    padding-left: 0.9vw;
    margin-top: auto;
    margin-bottom: auto;
}

.copiright {
    font-size: 1vw;
    color: #999999;
    margin-top: 4em;
    
}