.trends-name {
    color: black;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;

    padding-top: 3vh;
    
}

.trends-name h2 {
  font-size: 1vw;
}

.trends-name:after {
    content: '';
    display: block;
    height: 2px;
    background: #e1d9bd;
    width: 4.5vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: -0.2vw;
    margin-bottom: 2vw;
    
    
}

.cards {
  display: flex;
}

.card-item {
  width: 25%;
}


.card-item img {
  width: 100%;
}

.card-item:not(:first-child) {
  margin-left: 5px;
}

.card {
  position: relative;
}

.card::before{
  display: block;
  content: "";
  width: 100%;
  height: calc(100% - 5px);
  background-color: black;
  opacity: 0.6;
  position: absolute;
}

.card__previewbox {
  box-sizing: border-box;
  border: 4px solid #b59f5b;
  position: absolute;
  max-height: 80%;
  bottom: 3vh;
  margin-left: 1vw;
  margin-right: 1vw;
  overflow-x: hidden;
}

.card__previewbox ul {
  padding-top: 1vh;
  padding-left: 1vw;
} 

.card__previewbox li {

  display: inline;
  list-style: none;
  font-weight: bold;
  padding-right: 1vw;
  color: #b59f5b;
}

.card__previewbox li:hover {
  text-decoration: underline;
  cursor: pointer;
 }

.title_post__name {
  color: white;
  font-size: 1.3vw;
}

