.trends-name {
  color: black;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;

  padding-top: 3vh;
  
}

.trends-name h2 {
font-size: 1vw;
}

.trends-name:after {
  content: '';
  display: block;
  height: 2px;
  background: #e1d9bd;
  width: 4.5vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: -0.2vw;
  margin-bottom: 2vw;
  
  
}

.cards {
display: flex;
}

.card-item {
width: 25%;
display: flex;
position: relative;
}


.card-item:not(:first-child) {
margin-left: 0.5vw;
}

/* .card {
position: relative;
} */

.card1,.card2,.card3,.card4 {
  min-height: 19.3vw;
  background-repeat: no-repeat;
  background-size: cover;
  
  display: flex;
  flex-direction: column;
  } 

.card1::after,
.card2::after,
.card3::after,
.card4::after {
  content: "";
  width: 100%;
  height: 100%;
  
  background-color: black;
  opacity: 0.6;
  position: absolute;
  left:0;
  bottom:0;

}

.card1 {
  background-image: url("../images/trend1.jpg");
}

.card2 {
  background-image: url("../images/trend2.jpg");
}

.card3 {
  background-image: url("../images/trend3.jpg");
}

.card4 {
  background-image: url("../images/trend4.jpg");
}

.card__previewbox {
border: 2px solid #b59f5b;
margin-left: 1vw;
margin-right: 1vw;
margin-top: auto;
margin-bottom: 1vw;

z-index: 3;
}



.card__previewbox ul {
padding-top: 1vh;
padding-left: 1vw;
margin-bottom: 0;
} 

.card__previewbox li {

display: inline;
list-style: none;
font-weight: bold;
text-transform: uppercase;
padding-right: 1vw;
color: #b59f5b;
font-size: 0.85vw;
}

.card__previewbox li:hover {
text-decoration: underline;
cursor: pointer;
}

.title_post__name a{
color: white;
font-size: 1.2vw;
width: 80%;
margin-top: 0;
margin-left: 1vw;

display: block;
}

.title_post__name:hover a{
  color: #b59f5b;
  cursor: pointer;
}

.title_post__name {
  margin-top: 0;
}