.tags__list {
    display: inline-flex;
    flex-wrap: wrap;

}

.some_tag {
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid #ededed;
    padding: 0.5em 1em 0.5em 1em;
    margin-right: 3px;
    margin-top: 6px;
}
