.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    left:0;
    top: 0;
    z-index: 10;

    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup__content {
    position: relative;
    background: white;
    width: 386px;
    height: 589px;

    
    padding: 20px;
    box-sizing:content-box
}

.popup__close {
    position: absolute;
    right: 0px;
    top: -50px;
    color:aqua;
    font-size: 40px;

    cursor: pointer;
}

.popup__close::before {
    content: "";
    display: inline-block;
    vertical-align: middle;

    width: 20px;
    height: 20px;
    
    background-image: url("../svg/form-x.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px;

}

.popup__toggle:checked + .popup {
    display:none;

}

.popup__toggle {
    display: none;
}

.question {
    display: block;
    padding-top: 5px;
    padding-bottom: 10px;
   

    color: black;
}

.select {
    display: inline-block;
    box-sizing: border-box;
    width: 95%;
    min-height: 49px;
    
    padding-left: 10px;
    
   
    
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    
    color: gray;
    border: none;
    background-color: #f9f9f9;
    background-image: url("../svg/form-arrows.svg");
    background-repeat: no-repeat;
    background-position: 95%;
    background-size: 0.7em; 
  }

.button-send {
    width: 95%;
    height: 50px;
    background-color: #b59f5b;
    color: white;
    text-transform: uppercase;
    border: none;

    margin-top: 10px;
}

.radio-group {
    display: inline;
}

.radio {
    display: none;
}

.radio-group:nth-of-type(n+2){
    margin-left: 10px;
}

.radio-group-text::before {
    content: "";
    display: inline-block;
    vertical-align: middle;

    width: 20px;
    height: 20px;

    margin-right: 10px;
    background-image: url("../svg/form-empty-circle.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px;
}

.radio:checked +.radio-group-text::before {
    background-image: url("../svg/form-circle.svg");
}

.radio-group-text {
    color: black;
}

.placeholder {
    width: 95%;
    height: 132px;
    box-sizing: border-box;
    padding-left: 10px;
    

    font-family: "Open sans", sans-serif;

    background-color: #f9f9f9;
    border: none;
    resize: none;
    outline: none;
}

.trends-name h2{
    font-size: 20px;
    margin-top: 0;
}

span.question,
p.question,
span.radio-group-text {
    font-size: 13px;
}


button.button-send {
    font-size: 14px;
    margin-top: 35px;
}

@media (min-width: 641px) and (max-width: 1200px) {

    .trends-name h2{
        font-size: 18px;

    }
    
}

@media (max-width: 640px) {

    .popup__content {
        width: 331px;
        height: 543px;

    }

    .trends-name h2{
        font-size: 16px;

    }
}