.tems>.trends>.trends-name {
    padding-top:0;
}

.tags_list {
   padding-left: 0;
   list-style-type: none;

   display: flex;
   flex-wrap: wrap;
   
}

.some_tag a{
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.85vw;
    border: 3px solid #ededed;
    padding: 0.5vw 0.5vw 0.5vw 0.5vw;
    margin-right: 0.5vw;
    
}

.some_tag {
    box-sizing: border-box;
    margin-bottom: 2vw;
    
}