.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    left:0;
    top: 0;
    z-index: 10;

    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup__content {
    position: relative;
    background: white;

    width: 400px;
    height: 600px;
    padding: 20px;
    box-sizing: border-box;
}

.popup__close {
    position: absolute;
    right: -20px;
    top: -50px;
    color:aqua;
    font-size: 40px;

    cursor: pointer;
}

.popup__close:hover {
    color: red;
}

.popup__toggle:checked + .popup {
    display:none;

}

.popup__toggle {
    display: none;
}

.question {
    display: block;
    padding-bottom: 0.5em;

    color: black;
}

.select {
    display: inline-block;
    box-sizing: border-box;
    width: 95%;
    min-height: 40px;
    
    padding-left: 10px;
    
   
    
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    
    color: gray;
    border: none;
    background-color: #f9f9f9;
    background-image: url("../svg/form-arrows.svg");
    background-repeat: no-repeat;
    background-position: 95%;
    background-size: 0.7em; 
  }

.button-send {
    width: 95%;
    height: 3em;
    background-color: #b59f5b;
    color: white;
    text-transform: uppercase;
    border: none;
}

.radio-group {
    display: inline;
}

.radio {
    display: none;
}

.radio-group:nth-of-type(n+2){
    margin-left: 1em;
}

.radio-group-text::before {
    content: "";
    display: inline-block;
    vertical-align: middle;

    width: 20px;
    height: 20px;

    margin-right: 1em;
    background-image: url("../svg/form-empty-circle.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px;
}

.radio:checked +.radio-group-text::before {
    background-image: url("../svg/form-circle.svg");
}

.radio-group-text {
    color: black;
}

.placeholder {
    width: 95%;
    min-height: 12em;
    box-sizing: border-box;
    padding-top: 0;
    padding-left: 1em;

    font-family: "Open sans", sans-serif;

    background-color: #f9f9f9;
    border: none;
    resize: none;
    outline: none;
}